<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <form [formGroup]="rentForm" *ngIf="rentCar" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{rentCar.carName}}
        </h5>
        <button (click)="modalClose()" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Günlük Fiyat</label>
          <input style="float:right; width: 20em;" class="form-control" type="text"
            placeholder="{{rentCar.dailyPrice | currency: '₺'}}" disabled>
        </div>

        <div class="mb-3">
          <label class="form-label">Müşteri<b style="color: red;font-size: large;">*</b></label>
          <select formControlName="customer" style="float:right; width: 20em;" class="form-select"
            aria-label="Default select example">
            <option *ngFor="let customerDetail of customerDetails" value="{{customerDetail.customerId}}">
              {{customerDetail.userName}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label">Başlangıç<b style="color: red;font-size: large;">*</b></label>
          <input formControlName="rentdate" style="float:right; width: 20em;" min="{{getRentDate()}}"
            value="{{getRentDate()}}" class="form-control" type="date" placeholder="Disabled input">
        </div>

        <div class="mb-3">
          <label class="form-label">Bitiş<b style="color: red;font-size: large;">*</b></label>
          <input formControlName="returndate" style="float:right; width: 20em;" min="{{getReturnDate()}}"
            value="{{getReturnDate()}}" class="form-control" type="date" placeholder="Disabled input">
        </div>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
          </symbol>
        </svg>

        <div *ngIf="visibility" class="alert alert-success d-flex align-items-center" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill" />
          </svg>
          <div>
            <b>{{numberOfDays}}</b> gün için toplam fiyat <b>{{totalPrice | currency: '₺'}}</b>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button (click)="checkRent()" type="button" class="btn btn-primary">
          Kontrol Et
        </button>
        <button *ngIf="visibility" (click)="routerPayment()" type="button" class="btn btn-success">
          Ödemeye Geç
        </button>
      </div>
    </form>
  </div>
</div>